@charset "utf-8";

body{margin: 0; font-family: "メイリオ", "Hiragino Kaku Gothic Pro", sans-serif;}

/*box layout*/
.boxA,.box4,.box5,.box6 {padding-left: 15px; padding-right: 15px;}
.boxA {padding-top: 0px; padding-bottom: 0px;}
.box4 {padding-top: 20px; padding-bottom: 20px;}

/*box3*/
.topimage {max-width: 100%; height:auto; vertical-align: bottom;}

.subti {font-style: none;}
.subti a {display: block; background-color: #222222; color: #888888; text-align: center; text-decoration: none;}
.subti a:hover {opacity: 0.8;}
.subti h1,.subti p {margin: 0px; padding: 0px;}
.subti h1 {font-size: 20px;}
.subti p {font-size: 15px;}
.subti i {display:block; padding-top: 40px; padding-bottom: 40px; font-size: 24px; }
.subti .fa-book {background-color: #6b1a1a;}
.subti .fa-cat {background-color: #1d3083;}
.subti .fa-biohazard {background-color: #1d832b;}


/*news*/
.news {padding: 20px; border: solid 5px #dddddd}
.news h1 {margin-top: 0; margin-bottom: 5px; font-size: 18px; color:#000000}
.news ul {margin: 0; padding: 0; list-style: none;}
.news li a {display:block; padding: 5px; border-bottom:dotted 2px #dddddd; color:#000000; font-size: 14px; text-decoration: none;}
.news li a:hover {background-color: #eeeeee;}
.news a :after {content: "" ; display: block; clear: both;}
.news time {float: left; width: 60px; color: #888888; font-weight: bold}
.news.text { float: none; width: auto; margin-left: 60px;}

/*box4 4-1,4-2*/
.follow ul {margin:0; padding: 0; list-style: none;}
.follow li a {display: block; padding:10px; margin-bottom: 10px; border-radius: 7px; color: #ffffff; font-size: 14px; text-decoration: none;}
.follow li a:hover {opacity: 0.8;}
.follow-T {background-color: #63bafb;}
.follow-F {background-color: #5288f7;}
.follow-G {background-color: #f65d4a;}
.follow i {margin-right: 10px; margin-left: 10px; font-size: 24px; vertical-align: middle;}

/*arrow1*/
.arrow1 {
    padding: 5px; margin-top: 0px; margin-bottom: 20px; border-radius: 7px; 
	position: relative;background: #d5d5d5;border: 2px solid #2b0101;}
.arrow1:after, .arrow1:before {
	top: 100%;left: 50%;border: solid transparent;
	content: " "; height: 0;width: 0; position: absolute; pointer-events: none;}
.arrow1:after {
	border-color: rgba(213, 213, 213, 0);
	border-top-color: #d5d5d5;border-width: 10px;margin-left: -10px;}
.arrow1:before {
	border-color: rgba(43, 1, 1, 0);
	border-top-color: #000000; border-width: 14px; margin-left: -14px;
}

/*Copylight*/
.Copylight p {margin: 0; color: #000000; font-size: 14px;}

/*box5*/
.box5 {padding-top: 15px; padding-bottom: 15px; background-color: #dddddd;}

/*----------~599px----------*/
@media (max-width: 599px){
    .box4-1 {padding-bottom: 20px;}
}

/*----------768px~----------*/
@media (min-width: 768px){
  /*----------boxAの設定----------*/  
  .boxA:after {content:""; display:block; clear:both}
  .box1 {margin-top:20px; margin-bottom: 10px; float:left; width:auto}
  .box2 {margin-top:20px; margin-bottom: 10px; float:right; width:auto}
  
  .box1 h1 {margin-top:0; margin-bottom: 0px; }
  .box2 ul {margin-top:0; margin-bottom: 0px; list-style:none;}
  .box2 li {float:left;width:auto;} 
  .box2 li:hover{background-color: #888888;}
  .box2 li a{margin:5px 10px; font-size:22px; color:#000000;text-decoration:none; display:block;}
 



    /*box4 4-1,4-2*/
    .box4:after{content: ""; display: block; clear: both;}
    .box4-1 {float: left; width: 70%; padding-right: 30px; box-sizing: border-box;
    /*Fierfox,iOS4.x,Android2.3.x適用command*/-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
    .box4-2 {float: right; width: 30%; text-align: center;}

/*---------box6---------*/
.box6 {max-width: 1140px; padding-top: 20px; }
.box6:after {content:""; display:block; clear:both}
.box6-1,.box6-2,.box6-3 {padding-bottom: 10px;}
.box6-1 {float: left; width: 30%; margin-right: 5%;}
.box6-2 {float: left; width: 30%; margin-right: 5%;}
.box6-3 {float: left; width: 30%; }


/*----------1190px~----------*/
@media (min-width: 1190px){
    .boxA,.box3,.box4,.box6,.box5-inner {width: 1140px; margin-left: auto; margin-right: auto}
    .box4 {width: 1140px; margin-left: auto; margin-right: auto}
    .boxA {border-bottom: solid 1px #6b1a1a}

}   